// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#home-page{
    color: white;
    font-size: 70px;
    position: relative;
    left:250px;
    top: 170px;
    

    
}

#home2{
    color: white;
    
    font-size: 70px;
    position: relative;
    left: 550px;
    top:170px
}


p{
    color: white;
    
}

